.animatedLink{
    border-bottom: 1px transparent;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.animatedLink:hover{
    border-bottom: 1px solid var(--purple);
}

.ProjectBoard {
    display: flex;
    flex-wrap: wrap;
}

.ProjectBoard {
    padding: 0;
    display: flex;
    justify-content: center;
}

.ProjectRoot {
    background-image: radial-gradient(circle, rgba(0, 0, 0, .9), rgba(0, 0, 0, .4));
}

.notFound {
    text-align: center;
    font-size: 2em;
    padding: 1em;
    width: 450px;
    height: fit-content;
    height: -moz-fit-content;
}

.thumb {
    max-height: 250px;
}

.projectBox {
    display: flex;
    flex-direction: row;
    width: 60vw;
    width: -moz-fit-content;
    margin: 2em auto 0px;
    padding: 1em;
    border: var(--purple) solid 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: center;
    transition: all .5s cubic-bezier(.24, .01, .71, 1);
    cursor: pointer;
}

.projectBox:hover {
    border: var(--black) solid 1px;
    background-color: rgba(162, 57, 234, 0.5);
}

@media only screen and (max-width:768px) {
    .projectBox {
        display: flex;
        flex-direction: column;
    }
    .thumb {
        max-width: 60vw;
    }
}