/* Text sizes Definition */

.bigText {
    font-size: 2.3rem;
    letter-spacing: 0.1em;
}

.avgText {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}

.defaultText {
    font-size: 1rem;
    letter-spacing: 0.1em;
}