/* Color Schemes Definition */

:root {
    --white: #EDEDED;
    --black: #171717;
    --grey: #C4C4C4;
    --purple: #A239EA;
}


/* 1. General Definitions */

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
}

.defaultContainer {
    width: 50%;
    height: 80vh;
    margin: 3em auto;
    padding: 1em;
    /* border: var(--purple) solid 1px; */
    /* border-radius: 5px; */
    /* background-color: rgba(0, 0, 0, 0.5) */
}

.alignCenter {
    margin: unset auto;
    text-align: center;
}


/* 1.1 Fonts/Text Formatting */

.titleFont {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.1em;
    color: var(--white);
}

.textFont {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.1em;
    color: var(--white);
}

.alternativeFont {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.1em;
    color: var(--white);
}

.a24pxfont{
    font-size: 24px;
}

a {
    text-decoration: none;
    color: var(--white);
}


/* 1.2 Backgrounds */

body {
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("./img/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}


/* Menu Formatting */

.floatingMenu{
    position: absolute;
    left: 0;
    top: 40%;
}

ul {
    list-style-type: none;
}

header {
    position: static;
    top: 0px;
    margin: 0 auto;
}

.headerLinkList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .1em;
}

.listItem{
    display: flex;
    align-items: center;
}

.menuLink {
    margin: 1em;
    text-align: center;
}
.menuLinkLeft {
    margin: 1em;
    text-align: left;
    cursor: pointer;
}

.menuLink-active {
    width: 100%;
    height: 1px;
    transition: width .7s;
    border-bottom: 1px solid var(--white);
}


/* Contact Me Formatting*/

.socialBox {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textAlignCenter {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .headerLinkList {
        display: flex;
        align-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid #A239EA;
        width: 95vw;
        margin: 16px auto 0;
        padding: 0;
    }
    .socialBox {
        margin: 2em;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .socialBox>div {
        margin: 1em 0;
    }
}

@media screen and (max-width: 400px) {
    .headerLinkList {
        font-size: .8em;
    }
}


/* Extras or imports */